@import "header.css";
@import "footer.css";

@font-face {
    font-family: 'Pragati Narrow';
    src: url('/static/fonts/pragatinarrow-regular-webfont.woff2') format('woff2'),
         url('/static/fonts/pragatinarrow-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Pragati Narrow Bold';
    src: url('/static/fonts/pragatinarrow-bold-webfont.woff2') format('woff2'),
         url('/static/fonts/pragatinarrow-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    font-size: var(--font-size-default);
    font-family: 'Pragati Narrow', sans-serif;
    line-height: 1.5;
    color: var(--text-color);
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-color: hsl(150, 15%, 85%);
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

header {
    grid-row: 1;
}
main {
    grid-row: 2;
}
footer {
    grid-row: 3;
}

a {
    color: hsl(150, 100%, 15%);
}

b {
    font-family: 'Pragati Narrow Bold', sans-serif;
}

p {
    margin: 0;
    white-space: pre-line;
}

p + p {
    margin-top: revert;
}

*:focus-visible {
    box-shadow: #000 0 0 0.2rem 0.1rem;
    outline: none;
}

:root {    
    --scaling-factor: 1.25vw;
    --text-color: hsl(150, 40%, 10%);

    --font-size-default: calc(12px + var(--scaling-factor));
    --font-size-header: 1.5rem;
    --font-size-secondary: 0.8rem;
    --font-size-tertiary: 0.6rem;
}

/**/

#header {
    background: hsl(150, 50%, 25%);
    padding-left: 0.5rem;
}

.logo {
    font-family: "Acknowledgement";
    font-size: 1.5rem;
    line-height: 2.5rem;
    color: #FFF; 
    text-shadow: 0 0 0.1rem #000;
}

.logo:before {
    content: "100BG";
}

@media (min-width: 640px) {
    .logo:before {
        content: "100 Board Games";
    }
}