@font-face {
    font-family: 'acknowledgement';
    src: url('/static/fonts/acknowledgement-webfont.woff2') format('woff2'),
         url('/static/fonts/acknowledgement-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

header {
    background: hsl(150, 50%, 25%);
    padding-left: 0.5rem;
}

.logo {
    font-family: "Acknowledgement";
    font-size: 1.5rem;
    line-height: 2.5rem;
    color: #FFF; 
    text-shadow: 0 0 #000;
}

.logo:before {
    content: "100BG";
}

@media (min-width: 640px) {
    .logo:before {
        content: "100 Board Games";
    }
}