@import "global.css";
@import "header.css";
@import "footer.css";

:root {
    --game-extra-picture-height: 300px;
    --game-extra-small-picture-height: 75px;
    --game-extra-small-picture-arrow-size: 0.5rem;

    --game-extra-picture-border-hsl: hsl(150, 50%, 20%);
}


body {
    margin: 0;
    padding: 0;
    background-color: hsl(150, 15%, 85%);
}

.gamesList {
    padding: 0 0;
    margin: 0.25rem 0.25rem 0 0.25rem;
}

.game {
    background: white;
    border: 1px solid #CCC;
    border-radius: 4px;
    margin-bottom: 0.25rem;
    padding: 0.3rem;
    display: grid;
    grid-template-columns: auto 100px 1fr [col-card-end];
    grid-template-rows: 34px 33px 33px [row-card-end];
    place-items: center;
    gap: 0 0.3rem;
    position: relative;
}

.game--big {
    grid-template-rows: 34px 33px 33px [row-card-end] 1rem auto;
}

.gameRank {
    grid-column: 1;
    grid-row: 1 / row-card-end;
    font-size: var(--font-size-header);
}

.gameRank--small {
    font-size: calc(0.7 * var(--font-size-header));
}

.gameRank--smaller {
    font-size: calc(0.45 * var(--font-size-header));
}

.gameRating {
    grid-column: 1;
    grid-row: 1 / row-card-end;
    font-size: var(--font-size-tertiary);
    opacity: 0.25;
    transform: translateY(1rem);
}

.gamePictureImg {
    grid-column: 2;
    grid-row: 1 / row-card-end;
    height: 100px;
    width: 100px;
    object-fit: fill;
    border-radius: 4px;
}

.gameTitle {
    grid-column: 3;
    grid-row: 1;
    font-size: var(--font-size-header);
    justify-self: start;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 100%;
    line-height: 1;
}
.gameTitle--small95 {
    font-size: calc(0.95 * var(--font-size-header));
    letter-spacing: -0.01rem;
}
.gameTitle--small90 {
    font-size: calc(0.90 * var(--font-size-header));
    letter-spacing: -0.02rem;
}
.gameTitle--small85 {
    font-size: calc(0.85 * var(--font-size-header));
    letter-spacing: -0.03rem;
}
.gameTitle--small80 {
    font-size: calc(0.80 * var(--font-size-header));
    letter-spacing: -0.04rem;
}
.gameTitle--small75 {
    font-size: calc(0.75 * var(--font-size-header));
    letter-spacing: -0.05rem;
}

.gameMainAttributes {
    grid-column: 3;
    grid-row: 2;
    justify-self: start;
}

.gameMainAttribute {
    font-size: var(--font-size-secondary);
    border-radius: 0.25rem;
    padding: 0 0.25rem;
    white-space: nowrap;
}

.gameMainAttributes > .gameMainAttribute:focus-visible,
.gameMainAttributes > .gameMainAttribute:hover {
    filter: saturate(200%);
}

.gameMainAttributes > .gameMainAttribute {
    cursor: pointer;
    margin-right: 0.25rem;
}

.gameMainAttributeSvg {
    height: var(--font-size-secondary);
    vertical-align: middle;
    transform: translateY(-0.04rem);
}

.gameMainAttributeLabel {
    vertical-align: middle;
    margin-left: 0.2rem;
}

.gameMainAttributeSvg--pale {
    opacity: 0.25;
}

.gameComplexityLabel {
    display: inline;
}

.gameMainAttributes > .gameMainAttribute > .gameComplexityLabel {
    display: none;
}

.gameLength {
    background-color: hsl(20, 75%, 85%);
}

.gameNumPlayers {
    background-color: hsl(200, 60%, 85%);
}

.gameComplexity {
    background-color: hsl(300, 55%, 85%);
}

.gameMoreButton {
    grid-column: 3;
    grid-row: 3;
}

.gamecardToggleButton {
    width: 100%;
    height: 100%;
    cursor: pointer;
    border-style: none;
    background: #FFF;
    padding: 0;
    border-radius: 2px;
}
.gamecardToggleButton:focus-visible > .gameExpandArrow,
.gamecardToggleButton:hover > .gameExpandArrow {
    opacity: 0.5;
}

.gameExpandArrow {
    opacity: 0.2;
    width: 1rem;
    height: 1rem;
    border: 0.2rem solid var(--text-color);
    border-left: 0;
    border-top: 0;
    margin-left: auto;
    margin-right: auto;
    transform: rotate(45deg);
    margin-bottom: 0.5rem;
}
.gameExpandArrow--reverse {
    transform: rotate(225deg);
    margin-top: 0.75rem;
}

.gameExtraBorder {
    grid-column: 1 / col-card-end;
    grid-row: 4;
    border-bottom: 2px dashed #DDD;
    width: 100%;
}

.gameExtra {
    grid-column: 1 / col-card-end;
    grid-row: 5;
    display: grid;
    grid-template-rows: calc(var(--game-extra-small-picture-height) + 0.2rem) var(--game-extra-picture-height) auto auto [row-extra-end];
    place-items: center;
}

.gameExtraSmallPictures {
    grid-column: 1;
    grid-row: 1 / 3;
    align-self: start;
    overflow-x: scroll;
    white-space: nowrap;
    scroll-snap-type: x mandatory;
    width: 100%;
    position: relative;
    
    scrollbar-width: none;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */

}
.gameExtraSmallPictures::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.gameExtraBigPictures {
    grid-column: 1;
    grid-row: 2;
    width: 100%;
    height: var(--game-extra-picture-height);
    overflow-x: scroll;
    overflow-y: clip;
    white-space: nowrap;
    scroll-snap-type: x mandatory;

    scrollbar-width: none;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}
.gameExtraBigPictures::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.gameExtraSmallPicture {
    margin-right: 0.5rem;
    cursor: pointer;
    display: inline-block;
    width: 25%;
    height: calc(var(--game-extra-small-picture-height) + var(--game-extra-small-picture-arrow-size) + 2px); /** ~2px for shadow */
    vertical-align: top;
    position: relative;
    filter: drop-shadow(#000 0 0 0.05rem)
}
.gameExtraSmallPicture--active::after {
    content: '';
    border-left: var(--game-extra-small-picture-arrow-size) solid transparent;
    border-right: var(--game-extra-small-picture-arrow-size) solid transparent;
    border-top: var(--game-extra-small-picture-arrow-size) solid var(--game-extra-picture-border-hsl);
    position: absolute;
    top: var(--game-extra-small-picture-height);
    left: calc(50% - var(--game-extra-small-picture-arrow-size));
}
.gameExtraSmallPicture--active > .gameExtraSmallPictureImg {
    border: 4px solid var(--game-extra-picture-border-hsl);
}

.gameExtraSmallPictureImg {
    width: 100%;
    height: var(--game-extra-small-picture-height);
    object-fit: cover;
    box-sizing: border-box;
    border-radius: 2px;
}

.gameExtraBigPictureImg {
    width: 98%;
    height: 98%;
    margin-left: 1%;
    margin-top: 1%;
    border-radius: 0.1rem;
    margin-right: 2rem;
    scroll-snap-align: center;
    object-fit: cover;
    box-shadow: #000 0 0 0.1rem 0.1rem;
}

.gameExtraDescription {
    grid-column: 1;
    grid-row: 3;
    margin-top: 0.5rem;
    justify-self: start;
}

.gameExtraHideButton {
    grid-column: 1;
    grid-row: 4;
    height: 2rem;
}

/* === */

@media (min-width: 640px) {
    html {
        font-size: 16px;
    }
    
    .gameMainAttributes > .gameMainAttribute > .gameComplexityLabel {
        display: inline;
    }
}

/* global */

.tooltip {
    --arrow-size: 0.5rem;
    position: absolute;
    left: var(--scaling-factor);
    right: var(--scaling-factor);
    background: white;
    z-index: 1;
    border-radius: 0.4rem;
    padding: 0.5rem;
    font-size: var(--font-size-default);
    filter: drop-shadow( 0 0px 0.25rem #000);
}

.tooltip--above {
    bottom: calc(64px + var(--scaling-factor));
}
.tooltip--above::after {
    content: '';
    border-left: var(--arrow-size) solid transparent;
    border-right: var(--arrow-size) solid transparent;
    border-top: var(--arrow-size) solid #FFF;
    position: absolute;
    bottom: calc(1px - var(--arrow-size));
}

.tooltip--below {
    top: calc(67px + var(--scaling-factor));
}
.tooltip--below::after {
    content: '';
    border-left: var(--arrow-size) solid transparent;
    border-right: var(--arrow-size) solid transparent;
    border-bottom: var(--arrow-size) solid #FFF;
    position: absolute;
    top: calc(1px - var(--arrow-size));
}


.hidden {
    display: none !important;
}

.lazy,
.lazyloading {
	opacity: 0;
}
.lazyloaded {
	opacity: 1;
	transition: opacity 200ms;
}
