const collator = new Intl.Collator(undefined, {numeric: true, sensitivity: 'base'});

function enrichGamesWithExtras() {
    const gamesExtrasJson = `{{.GamesExtrasJson}}`;

    const gamesExtras = JSON.parse(gamesExtrasJson);

    document.querySelectorAll(".game").forEach((gameElement) => {
        const gameId = gameElement.dataset.geekId;

        const gameExtraHtml = formGameExtraHtml(gameId, gamesExtras[gameId])

        gameElement.insertAdjacentHTML('beforeend', gameExtraHtml);
    });

    document.querySelectorAll('.gameExtraPictureImg').forEach(
        pictureElement => pictureElement.addEventListener('click', handleExtraPictureClick)
    );
}

function handleExtraPictureClick(pictureElement) {
    console.log(pictureElement);
}

function formGameExtraHtml(gameGeekId, gameExtra) {
    const description = gameExtra.d;
    const pictures = gameExtra.p.sort(collator.compare);
    
    let smallPicturesHtml = `<picture class="gameExtraSmallPicture gameExtraSmallPicture--active" data-pic-id="${pictures[0]}"><img class="gameExtraSmallPictureImg lazy" data-src="/static/images/gamesimages/${gameGeekId}/${pictures[0]}" /></picture>`;
    let bigPicturesHtml = `<img class="gameExtraBigPictureImg lazy" data-pic-id="${pictures[0]}" data-src="/static/images/gamesimages/${gameGeekId}/${pictures[0]}" />`;

    pictures.slice(1).forEach((pictureFilename, index) => {
        smallPicturesHtml += `<picture class="gameExtraSmallPicture" data-pic-id="${pictureFilename}"><img class="gameExtraSmallPictureImg lazy" data-src="/static/images/gamesimages/${gameGeekId}/${pictureFilename}" /></picture>`;
        bigPicturesHtml += `<img class="gameExtraBigPictureImg lazy" data-pic-id="${pictureFilename}" data-src="/static/images/gamesimages/${gameGeekId}/${pictureFilename}" />`;
    });

    return `
        <div class="gameExtraBorder hidden"></div>
        <div class="gameExtra hidden">
            <div class="gameExtraSmallPictures">${smallPicturesHtml}</div>
            <div class="gameExtraBigPictures">${bigPicturesHtml}</div>
            <div class="gameExtraDescription">${description}</div>
            <button class="gameExtraHideButton">
                <div class="gameExpandArrow gameExpandArrow--reverse"></div>
            </button>
        </div>
    `;
}

enrichGamesWithExtras();