<head>
    <title>{{.Global.PageTitle}}</title>
    <link rel="stylesheet" href="/static/css/styles.css?{{.Global.Now}}">
</head>
<body>
    <div id="header">
        <span class="logo">100 Board Games</span>
    </div>
    <div id="grid">