{{ template "header.tmpl" . }}
    <pre id="titleHeader">Hundred Board Games</pre>
    <p>{{.Global.PageI18n.intro}} <a href="/about" rel="noopener noreferrer" target="_blank">{{.Global.PageI18n.about_link}}</a>.</p>
    <div class="buttonSection">
        <p>{{.Global.PageI18n.top_text}}</p>
        <a href="/top" class="linkButton">{{.Global.PageI18n.top_button}}</a>
    </div>
    <div class="buttonSection">
        <p>{{.Global.PageI18n.filter_text}}</p>
        <a href="/filter" class="linkButton">{{.Global.PageI18n.filter_button}}</a>
    </div>
{{ template "footer.tmpl" . }}