{{ template "header.tmpl" . }}
<h1>{{.PageTitle}}</h1>
<ul class="gamesList">
    {{range .Games}}
        <li class="game">
            <span class="gameTitle">{{.Title}}</span>
            <span class="gameYear">({{.Year}})</span>
            <span class="gameGeekRating">{{.GeekRating}}</span>
            <span class="gameAlgoRating">{{.AlgoRating}}</span>
        </li>
    {{end}}
</ul>
{{ template "footer.tmpl" . }}